.page-title {
  text-align: center;
  padding: 20px 0;
  p {
    color: $color-light-black;
    margin-bottom: 0;
  }
}

.box-theme {
  background-color: $color-white;
  border-top: 2px solid $theme-color-primary;
  margin-bottom: 30px;
  position: relative;
  .box-theme-title {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-grey;
    font-size: 20px;
    font-family: "Muli-SemiBold", $font-family;
  }
}

#registration-type-section {
  background-color: $color-dark-grey;
  color: $color-white;
  font-weight: bold;
  padding: 10px 0;
  margin-left: 0;
  margin-right: 0;
}

.box-theme-content {
  padding: 30px 40px;
  word-break: break-word;
}
.form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid $color-ultra-light-grey;
  padding: 10px 15px;
  height: 44px;
  color: $color-dark-grey;
  font-size: 16px;
  &:focus {
    background-color: transparent;
  }
}

.form-group {
  .help-block {
    color: $theme-color-primary;
  }
}

.validation-advice {
  color: $color-red !important;
}

.select-theme {
  padding: 0;
  margin: 0;
  border: 2px solid $color-ultra-light-grey;
  border-radius: 0;
  overflow: hidden;
  background-color: $color-white;
  background: $color-white url(../images/dropdown-arrow.png) no-repeat 100% 50%;
  select {
    width: 100%;
    height: 40px;
    padding-right: 45px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.checkbox-theme.on-focus,
.radio-theme.on-focus,
.select-theme.on-focus,
.select2-container:focus,
.form-control:focus {
  outline: none;
  border-color: $color-ultra-light-grey;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 15px rgba(102, 175, 233, 0.8);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 15px rgba(102, 175, 233, 0.8);
}

#wrapper-reg-certificate-upload {
  #btn-reg-cert-upload {
    min-width: 20%;
  }
}

.btn-theme-apply {
  background-color: $color-light-black;
}
.btn {
  font-family: "Muli-Light", $font-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 8px 30px;
  border: none;
  border-radius: 5px;
  color: $color-white;
}

.content-upload .upload-status {
  color: $color-dark-grey;
  line-height: 24px;
  margin-bottom: 0;
}

.btn-theme {
  background-color: $theme-color-primary;
  padding-left: 60px;
  padding-right: 60px;
}

.action-group {
  border-top: 2px solid $color-grey;
  padding: 15px 40px 0 40px;
  margin-top: 15px;
  text-align: center;
  .btn {
    margin-right: 40px;
    min-width: 20%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.validation-failed,
.validation-failed:focus {
  border-color: $color-red !important;
}

.highlight-text {
  color: $color-red;
}

.tnc-link {
  text-decoration: underline;
}

.checkbox-theme {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  input[type="checkbox"],
  input[type="radio"] {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
  }
  label {
    display: inline-block;
    cursor: pointer;
    line-height: 24px;
    position: relative;
    padding-left: 30px;
    background-position: 0px 2px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: url(../images/checkbox-inactive.png);
    margin-bottom: 0;
  }
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label {
    background-image: url(../images/checkbox-active.png);
  }
  &.style-formal {
    label {
      background-image: url(../images/checkbox-formal-inactive.png);
    }
    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label {
      background-image: url(../images/checkbox-formal-active.png);
    }
    input[type="checkbox"]:disabled + label,
    input[type="radio"]:disabled + label {
      background-image: url(../images/checkbox-formal-disabled.png);
    }
  }
}

@media (max-width: 767px) {
  .box-theme {
    .box-theme-content {
      padding: 15px;
    }
  }
}
