$theme-color-primary: #d6b7a5;

$text-color: #4d4d4d;

$color-black: $text-color;
$color-white: #ffffff;
$color-red: #9b3131;
$color-light-black: #666666;
$color-dark-grey: #737373;
$color-grey: #e6e6e6;
$color-ultra-light-grey: #f2f2f2;

$theme-color-navbar-bg: #eaeaea;
$theme-color-footer-bg: #5a5b5c;

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
